/* Override Icon Settings */
.fa-stack.small { font-size: .5em; }
i { vertical-align: center; }

/* Override Image Settings */
.wd-image-thumbnail-size-override{
    max-width: 45px;
    height: 45px
}

.wd-image-who-to-follow{
    width: 40px;
    height: 40px
}

/*Extra Small*/
.wd-what-size{
    background-color: red;
}

.wd-scale-icons{

}
/*Small*/
@media (min-width: 576px){
    .wd-image-thumbnail-size-override{
        max-width: 50px;
        height: 50px
    }

    .wd-what-size{
        background-color: orange;
    }
}
/*Medium*/
@media (min-width: 768px){
    .wd-image-thumbnail-size-override{
        max-width: 65px;
        height: 65px
    }

    .wd-what-size{
        background-color: yellow;
    }
}
/*Large*/
@media (min-width: 992px){
    .wd-image-thumbnail-size-override{
        max-width: 75px;
        height: 75px
    }

    .wd-what-size{
        background-color: green;
    }
}
/*Extra Large*/
@media (min-width: 1200px){
    .wd-image-thumbnail-size-override{
        max-width: 85px;
        height: 85px
    }

    .wd-what-size{
        background-color: blue;
    }
}

/*Extra Extra Large*/
@media (min-width: 1400px){
    .wd-image-thumbnail-size-override{
        max-width: 100px;
        height: 100px
    }

    .wd-what-size{
        background-color: violet;
    }
}

.wd-img-thumbnail-style-override{
    border-style: none
}

/* Overriding Pills Rounded Corners*/
.nav-pills .nav-link {
    border-radius: 0;
}


/* Explore Tuite Container Settings */
.wd-tuit-container-style{
    display: flex;
    justify-content: space-between;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 12px 16px;
}

.wd-image-tuit-post-image{
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin-left: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.wd-image-small-user-image{
    width: 13px;
    height: 13px;
    border-radius: 13px;
}

/* Search Bar */
.wd-search-container{
    border-radius: 15px;
    width: 85%;
    background-color: var(--dark-grey-color);
    padding: 10px;
    display: flex;
}

.wd-search-icon{
    margin-right: 10px;
    width: 15px;
    height: 15px
}

.wd-search-input{
    color: white;
    width: 80%;
    background-color: var(--dark-grey-color);
    border-width: 0;
    outline: none
}

.wd-settings-icon{
    color: var(--tuiter-blue-color);
    font-size: 16px;
}

.wd-container-90-percent{
    width: 90%;
}